<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lazlo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/trial_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/trial_image_round"
        android:supportsRtl="true"
        android:theme="@style/Lazlo">
        <activity
            android:name=".timeTracker"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar"/>
        <activity
            android:name=".completed"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".Error_page"
            android:exported="false" />
        <activity
            android:name=".tasks"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".rescheduleCompletedTask"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".entrySplash"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".AddTasks"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".PendingTasks"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".individualTask"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".CompletedTasks"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".IndividualCompletedTask"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".DraftTasks"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".performTask"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".inHousePasswordReset"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".editAccount"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".forgotPassword"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".reset_password"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".NotificationMessage"
            android:exported="false" />
    </application>

</manifest>